body {
    margin: 0;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Allura', cursive;
    color: #181D31;
    font-size: 5.625rem; /* 100% = 1EM = 16px = 1REM (REM preffered) <- All the same */
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    color: black;
    margin: auto;
    padding: 10px;
}

h3 {
    font-family: 'Josefin Slab', serif;
    margin-bottom: 0;
}

link {
    padding: .5rem auto 0;
}


p {
    margin: 0;
    padding: 10px;
    font-size: 125%;
    line-height: 2;
}

hr {
    margin: auto;
    padding: 10px;
    border: 0;
    border-top: #678983 dotted 10px;
    height: 2px;
    width: 10%;
}

table {
    margin: auto;
}

.empty-space {
    height: 20px;
}

.profile {
    width: 35%;
    margin: auto 37% auto auto;
    padding-bottom: 100px;
}

.profile-pic {
    border-radius: 40%;
    float: left;
    margin: auto 2% auto auto;
}

.profile-text1 {

    left: 47%;
    top: 5%;
    
}   

.profile-text2 {
    left: 35%;
    top: 20%;
}   

.topContainer {
    width: 100%;
    position: relative;
    padding: 100px 0 50px;
    background-color: #678983
}

.midContainer {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #E6DDC4;
    padding-top: 20px;
}

.botContainer {
    width: 100%;
    position: relative;
    margin-top: 0;
    padding: 200px auto auto auto;
    background-color: #678983;
}

.skill-row {
    width: 50%;
    margin: 50px auto 0;
    position: relative;
    top: 20px;
}

.mountain {
    padding-top: 100px;
    padding-bottom: 0;
    position: relative;
    top: 1rem;
}

.topCloud {
    position: absolute;
    right: 10%;
    top: 8%;
}

.typingCat {
    float: right;
}

.midCloud {
    position: relative;
    right: 25%;
    bottom: 120px;
}

.botCloud {
    position: absolute;
    right: 30%;
    bottom: 30%;
}

.fixCloud {
    width: 100%;
    margin: auto;
}

.contactMe {
    background-color: #678983;
    color: #E6DDC4;
    padding: 6px;
    border-radius: 10%;
    font-weight: 500;
    font-size: 150%;
    line-height: 2;
    text-decoration: none;
}


.footer-link {
    color: #181D31;
    text-decoration: none;
    font-weight: 600;
    font-size: 120%;
    padding: 3px;
    line-height: 1.5;
}



.footer-link:hover {
    color: aquamarine;
}

.stars {
    height: 30px;
    padding-right: 5px;
}